

<div class="py-3">
  <div class="container">
    <h2 class="mb-4 text-center">ユーザ情報変更</h2>
      <div class="row">
      <div class="p-4 col-lg-5 mx-auto">
          <% if @user.errors.any? %>
            <div class="alert alert-danger" role="alert">
              <strong>入力内容にエラーがあります</strong>
              <ul>
                <% @user.errors.each do |attr, msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

<%= form_for @user,url: user_path(@user.nickname), html:{method: "patch"} do |f| %>
<%= f.label :name ,'ユーザ名' %>
  <%= f.hidden_field :id %>
  <%= f.text_field :name ,class: 'form-control mb-3'%>
  <%= f.label :nickname, 'ユーザID' %>
  <%= f.text_field :nickname ,class: 'form-control mb-3'%>
  <%= f.submit '更新', class: 'btn btn-primary' %>
<% end %>
    </div>
    </div>
  </div>
</div>