<section id="top-wrapper" class="top-wrapper">
  <div class="py-5 text-center">
  <h4>~ みんなのTwitter履歴書 ~</h4>
    <%= image_tag 'twesumelogo_top.png',class:"top-logo m-3" %>
    <h1 class="top-title">TWESU<strong>ME</strong></h1>
    
    <p>ポートフォリオでアピールするTwitter転職支援サービス</p>
    <div class="row images-wrapper my-4">
    <div class ="image-wrapper col-md-4">
      <%= image_tag 'twesume-tweet.png', class:"p-3 img-fluid", alt:"TWESUME Card Cap" %>
    </div>
    <div class="arrow-wrapper align-middle">
      <%= fa_icon 'angle-double-right', class:"d-none d-md-block fa-5x" %>
      <%= fa_icon 'angle-double-down', class:"d-block d-md-none fa-5x" %>
    </div>
    <div class ="image-wrapper col-md-4">
      <%= image_tag 'top-example.png', class:"p-3 img-fluid", alt:"TWESUME Page Cap" %>
    </div>
    </div>


    <h4>Twitter履歴書を作成してLet's Twitter転職！！</h4>
    <div class="top-button my-5">
    <p>転職希望の方はこちらから</p>
    <%= link_to 'auth/twitter', class:"top-btn btn btn-primary btn-lg" do %>
      <%= fa_icon 'twitter', text:" でログイン" %>
    <% end %>
    </div>
    <div class="search-button my-5">
    <p>採用担当の方はこちらから</p>
    <%= link_to resumes_index_path, class:"top-btn btn btn-info btn-lg" do %>
      <%= fa_icon 'search', text:" TWESUME一覧" %>
    <% end %>
    </div>
  </div>
</section>

<section id="guide" class="guide bg-dark py-5">
  <h2 class="heading">使い方</h2>
  <div class="guide-rows d-flex flex-column">
    <div class="guide-row d-md-flex flex-md-row-reverse">
      <div class="guide-text mx-auto mx-md-0">
        <h5>1. Twitter履歴書ページを作成</h5>
        <p>Twitterアカウントでログインし、TWESUME（Twitter履歴書）とTwitterカードを作ろう！</p>
      </div>
      <div class="guide-image mx-auto mx-md-0">
        <%= image_tag 'macbook_example.png', class:"p-3 img-fluid", alt:"TWESUME Page Cap" %>
      </div>
    </div>
    <div class="guide-row d-md-flex">
      <div class="guide-text mx-auto mx-md-0">
        <h5>2. ポートフォリオを投稿</h5>
        <p>自分が開発した、または開発に携わったものを投稿し、アピール力を強化しよう！！</p>
      </div>
      <div class="guide-image mx-auto mx-md-0">
        <%= image_tag 'portfolio_example.png', class:"p-3 img-fluid", alt:"TWESUME Page Cap" %>
      </div>
    </div>
    <div class="guide-row d-md-flex flex-md-row-reverse">
      <div class="guide-text mx-auto mx-md-0">
        <h5>3. ツイートで拡散</h5>
        <p>TWESUMEカードをツイートして、採用担当の方に見てもらえるように拡散しよう！！</p>
      </div>
      <div class="guide-image mx-auto mx-md-0">
        <%= image_tag 'twesume-tweet-up.png', class:"p-3 img-fluid", alt:"Tweet TWESUME Cap" %>
      </div>
    </div>
  </div>

</section>
<%#Twitter Timeline%>
<section id="twitter-timeline" class="twitter-timeline py-5">
<h2 class="heading">公式アカウント</h2>
<div class="timeline-wrapper">
<a class="twitter-timeline" data-height="700" href="https://twitter.com/twesumes_net?ref_src=twsrc%5Etfw">Tweets by twesumes_net</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</div>
</section>