
<section id="create-section" class="create-section">
  <div class="py-5">
    <h2 class="heading">TWESUME 作成</h2>
    <p>こちらからTWESUMEページとツイートするカードを作成できます。</p>
    <%= link_to '新規作成', new_user_resume_path(current_user.nickname) ,class:"btn btn-primary m-3" %>
  </div>
</section>
<section id="view-section" class="view-section">
  <div class="py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-lg-8 text-center">
          <h2 class="heading">TWESUME 一覧</h2>
        </div>
      </div>
      <% if @resumes.empty? %>
        <p>作成したカードはありません</p>
        <%#= link_to 'カード新規作成', new_user_resume_path(current_user.nickname) ,class:"btn btn-primary" %>
      <% else %>
      <p class="mb-4">あなたが作成したTWESUMEの一覧です</p>
      <div class="row">
      <% @resumes.each do |resume| %>
        
      <div class="col-lg-6 mx-auto">
        <div class="card mb-4">
            
            <div class="card-body">
              
              <%= image_tag resume_image_url(resume), class:"card-img-top", alt:"TWESUME Card Cap" %>
              <div class="card-footer">
                <%= link_to 'TWESUMEページ',resume_path(resume.slug), class:"btn btn-primary" %>
              </div>
                
            </div>
          </div>
          </div>
      <% end %>
      <% end %>
      </div>
    </div>
  </div>
  </section>
  <section id="product-create" class="product-create">
    <div class="py-5">
    <h2 class="heading">ポートフォリオ投稿</h2>
    <p>こちらに投稿したポートフォリオがTWESUMEページの下部に表示されます</p>
    <%= link_to '新規投稿', new_user_product_path(current_user.nickname) ,class:"btn btn-primary m-3" %>
  </div>
  </section>
  <section id="product-view" class="product-view">

  <div class="py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-md-8">
          <h2 class="heading">ポートフォリオ一覧</h2>
          <p class="mb-4">あなたのポートフォリオ一覧です</p>
        </div>
      </div>
      <% if @products.empty? %>
        <p>まだポートフォリオの投稿がありません</p>
      <% else %>
      
        <div class="row">
        <% @products.each do |product| %>
        
        <div class="card-wrapper col-lg-6 p-3 mx-auto">
          <div class="card mb-4">
            <div class="card-header">
              <h3 class="border-bottom"><%= product.title %></h3>
            
          <%= link_to product.url, target:["_blank"] do %>
            <div class="image-box">
              <% if product.image.url.nil? %>
                <%= image_tag 'noimage_gray.jpg', class:"card-img-top portfolio-image", alt:"TWESUME Card Cap" %>
              <% else %>
                <%= image_tag product.image.url, class:"card-img-top portfolio-image", alt:"TWESUME Card Cap" %>
              <% end %>
              <div class="image-overlay">
                <div class="product-contents">
                  <h5><%= "#{product.title}"%></h5>
                  <p>を開く</p>
                </div>
              </div>
            </div>
          <% end %>

          </div>
            <div class="card-body">
            <p><%= product.description %></p>

            <%= link_to edit_product_path(product.slug), class:"btn btn-success" do %>
              <%= fa_icon 'edit',text:" 編集" %>
            <% end %>
            <%= link_to product_path(product.slug), method: :delete, 
                    data: {confirm: "このポートフォリオを削除します。よろしいですか？"}, class:"btn btn-danger" do%>
              <%= fa_icon 'trash', text:" 削除" %>
            <% end %>

            </div>
          </div>
        </div>
        <% end %>
        
      <% end %>
      </div>
    </div>
  </div>

  </section>