<section id="twesume-info" class="twesume-info mb-5">
  <div class="container text-center">
    <h2 class="title">
      <%= @resume.user.name %>のTWESUME</h2>
    <div class="row">
      <div class="card-info mx-auto">
        <div class="card text-center">
          <%#= image_tag resume_image_url(@resume), size:"600x335", class:"img-fluid p-3", alt:"TWESUME CARD Cap" %>
          <div class="card-body">
            <%#ここにはTWESUMEの情報を記述するのがいいか？%>

            <div id="twesume-show" class="twesume-show">
              <div class="twesume-title text-center p-2">TWESU<strong>ME</strong> DETAIL</div>
              <div class="twesume-container">

                <%#% 表示する要素を指定 %>
                <% elements = {job_type:"職種", location:"勤務地", desired_salary:"年収", timing:"転職時期", age:"年齢", skills:"スキル", capacity:"資格", languages:"言語" , employment_pattern:"雇用形態"} %>

                <% elements.each do |key, val| %>
                <%# 表示する要素の表示 %>
                <% unless @resume[key].empty? %>
                <%# 空白の項目は表示しない %>
                <div class="twesume-element">
                  <%= content_tag(:p, val, id:"label-#{key}", class:"twesume-label")%>
                  <%= content_tag(:p, @resume[key], id:"item-#{key}", class:"twesume-item") %>
                </div>
                <% end %>
                <% end %>

                <% unless @resume.note.empty? %>
                <div class="twesume-element">
                  <p id="label-note" class="twesume-label">備考</p>
                  <p id="item-note" class="twesume-item">
                    <%== newline2br(@resume.note) %>
                  </p>
                </div>
                <% end %>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <% unless @resume.comment.empty? %>
    <div class="row">
      <div class="self-pr mx-auto text-center">
        <h2 class="title">自己PR</h2>
        <p>
          <%== newline2br(@resume.comment) %>
        </p>
      </div>
    </div>
    <% end %>

  </div>
</section>

<%# ポートフォリオ一覧 %>
<% unless @products.empty? %>
<section id="product-view" class="product-view">

  <div class="py-5 bg-light text-center">
    <h3>ポートフォリオ</h3>

    <div class="container">
      <div class="row">

        <% @products.each do |product| %>

        <%# ここが１つのポートフォリオ %>
        <div class="mx-auto col-lg-6 text-center">
          <div class="card mb-4">
            <h3>
              <%= product.title %>
            </h3>
            <%= image_tag product.image.url, class:"card-img-top p-3", alt:"TWESUME Card Cap" %>
            <div class="card-body">
              <p>
                <%= product.description %>
              </p>
              <%= link_to product.title+"を見る", product.url, class:"btn btn-info" , target:["_blank"] %>
            </div>
          </div>
        </div>
        <% end %>

      </div>
    </div>
  </div>
  <% end %>
</section>
<%# TWESUMEのTwitterユーザページへのリンク %>
<div class="text-center">
  <%= link_to "#{@resume.user.name}のtwitterページに行く", "https://twitter.com/intent/user?user_id=#{@resume.user.uid}", class:"btn btn-primary btn-lg my-4", target:["_blank"] %>
</div>



<%# fixedでツイートボタンや、編集や削除へのリンクのウインドウを表示 %>

<% if current_user?(@resume.user) %>
<div class="owner-fixed shadow text-center p-3 ">
  <p class="text-muted">この領域は作成者にのみ表示されます</p>
  <%= link_to "https://twitter.com/share?text=%23twesumecard%20%23hiyokonitsuduke%20%23Twitter転職&url=#{resume_url(@resume.slug)}?u=#{@resume.update_count}", class:"btn btn-info mb-1" do %>
  <%= fa_icon 'twitter',text:" 投稿" %>
  <% end %>

  <%= link_to edit_resume_path(@resume.slug), class:"btn btn-success mb-1" do %>
  <%= fa_icon 'edit', text:" 編集" %>
  <% end %>

  <%= link_to resume_path(@resume.slug), method: :delete, 
                      data: {confirm: "このTWESUMEを削除します。よろしいですか？"}, class:"btn btn-danger mb-1" do%>
  <%= fa_icon 'trash', text:" 削除" %>
  <% end %>
  <% end %>
</div>