<%= ads_responsive %>

<section id="twesume-info" class="twesume-info mb-5">
  <div class="container">
    <h2 class="title">
      <%= @resume.user.name %>のTWESUME</h2>
    <div class="row">
      <div class="card-info mx-auto">
        <div class="card">
          <%#= image_tag resume_image_url(@resume), size:"600x335", class:"img-fluid p-3", alt:"TWESUME CARD Cap" %>
          <div class="card-body">
            <%#ここにはTWESUMEの情報を記述するのがいいか？%>

            <div id="twesume-show" class="twesume-show">
              <div class="twesume-title p-2">TWESU<strong>ME</strong> DETAIL</div>
              <div class="twesume-container">

                <% CardItem.all.each do |item| %>
                <%# 表示する要素の表示 %>
                <% unless @resume[item[:key]].empty? %>
                <%# 空白の項目は表示しない %>
                <div class="twesume-element">
                  <%= content_tag(:p, item[:val], id:"label-#{item[:key]}", class:"twesume-label")%>
                  <%= content_tag(:p, @resume[item[:key]], id:"item-#{item[:key]}", class:"twesume-item") %>
                </div>
                <% end %>
                <% end %>

                <% unless @resume.note.empty? %>
                <div class="twesume-element">
                  <p id="label-note" class="twesume-label">備考</p>
                  <p id="item-note" class="twesume-item">
                    <%== newline2br(@resume.note) %>
                  </p>
                </div>
                <% end %>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <% unless @resume.comment.empty? %>
    <div class="row">
      <div class="self-pr mx-auto">
        <h2 class="title">自己PR</h2>
        <p>
          <%== newline2br(@resume.comment) %>
        </p>
      </div>
    </div>
    <% end %>

  </div>
</section>

<%# ポートフォリオ一覧 %>
<% unless @products.empty? %>
<section id="product-view" class="product-view">

  <div class="py-5 bg-light text-center">
    <h3 class="title">ポートフォリオ</h3>

    <div class="container">
      <div class="row">

        <% @products.each do |product| %>

        <%# ここが１つのポートフォリオ %>
        <div class="mx-auto col-lg-6 text-center">
          <div class="card mb-4">
            <div class="card-header">
            <h4 class="border-bottom"><%= product.title %></h4>

          <%= link_to product.url, target:["_blank"] do %>
            <div class="image-box">
              <% if product.image.url.nil? %>
                <%= image_tag 'noimage_gray.jpg', class:"card-img-top portfolio-image", alt:"No Image" %>
              <% else %>
                <%= image_tag product.image.url, class:"card-img-top portfolio-image", alt:"#{product.title} Cap" %>
              <% end %>
              <div class="image-overlay">
                <div class="product-contents">
                  <h5><%= "#{product.title}"%></h5>
                  <% if product.url.empty? %>
                  <p>へのリンクは存在しません<p>
                  <% else %>
                  <p>を見る</p>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
            
            <%#= image_tag product.image.url, class:"card-img-top portfolio-image", alt:"TWESUME Card Cap" %>


            </div>
            <div class="card-body border-bottom border-top">
              <p>
                <%== newline2br(product.description) %>
              </p>
              <%#= link_to product.title+"を見る", product.url, class:"btn btn-dark" , target:["_blank"] %>
            </div>
          </div>
        </div>
        <% end %>

      </div>
    </div>
  </div>
  <% end %>
</section>

<%# TWESUMEのTwitterユーザページへのリンク %>
<div class="twitter-pagelink">
  <%= link_to "#{@resume.user.name}のtwitterページに行く", "https://twitter.com/intent/user?user_id=#{@resume.user.uid}", class:"btn btn-primary btn-lg my-4", target:["_blank"] %>
</div>

<%# fixedでツイートボタンや、編集や削除へのリンクのウインドウを表示 %>

<% if current_user?(@resume.user) %>
<div class="owner-fixed shadow p-3 ">
  <p class="text-muted">この領域は作成者にのみ表示されます</p>
  <%= link_to "https://twitter.com/share?text=#{@resume.job_type}の転職先を探しています。%20%23hiyokonitsuduke%20%23Twitter転職&url=#{@resume.bitly_url}", class:"btn btn-info mb-1", target:["_blank"] do %>
  <%= fa_icon 'twitter',text:" 投稿" %>
  <% end %>

  <%= link_to edit_resume_path(@resume.slug), class:"btn btn-success mb-1" do %>
  <%= fa_icon 'edit', text:" 編集" %>
  <% end %>

  <%= link_to resume_path(@resume.slug), method: :delete, class:"btn btn-danger mb-1",
          data: {
            title: "削除前確認",
            confirm: "このTWESUMEを削除します。よろしいですか？",
            commit: "削除",
            cancel: "キャンセル"
          } do %>
  <%= fa_icon 'trash', text:" 削除" %>
  <% end %>
  <% end %>
</div>

<%= ads_responsive %>