
<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="card-info d-flex mx-auto" >
        <div class="card text-center"> 
          <%= image_tag @resume.image, size:"600x335", class:"img-fluid p-3", alt:"TWESUME CARD Cap" %>
          <p>この画像がツイートに表示されます</p>
          <div class="card-body">
          
            <%= link_to 'https://twitter.com/share?text=%23twesumecard%20%23hiyokonitsuduke%20%23Twitter転職&url='+resume_url(@resume.slug), class:"btn btn-info mb-1" do %>
              <%= fa_icon 'twitter',text:" 投稿" %>
            <% end %>
            <br>
            <%= link_to edit_resume_path(@resume.slug), class:"btn btn-success" do %>
              <%= fa_icon 'edit', text:" 編集" %>
            <% end %>
            <%= link_to resume_path(@resume.slug), method: :delete, 
                    data: {confirm: "このカードを削除します。よろしいですか？"}, class:"btn btn-danger" do%>
              <%= fa_icon 'trash', text:" 削除" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="self-pr mx-auto text-center">
        <h2 class="title">About Me</h2>
        <p><%= @resume.comment %></p>
      </div>
    </div>

  </div>
</div>

  <section id="product-view" class="product-view">

  <div class="py-5 bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-md-8 text-center">
          <h3 class="title"><%= @resume.user.nickname %>のポートフォリオ</h3>
        </div>
      </div>
      <% if @products.empty? %>
        <p>まだポートフォリオの投稿がありません</p>
      <% else %>
      
        <div class="row">
        <% @products.each do |product| %>
        
        <div class="col-lg-6 p-3 mx-auto">
          <div class="card mb-4">
          <h3><%= product.title %></h3>
          <%= image_tag product.image.url, class:"card-img-top p-3", alt:"TWESUME Card Cap" %>
            <div class="card-body">
            <p><%= product.description %></p>

            <%= link_to product.title+"を見る", product.url, class:"btn btn-info" , target:["_blank"]%>
              
            </div>
          </div>
        </div>
        <% end %>
        
      <% end %>
      </div>
    </div>
  </div>

  </section>






