  <footer id="footer" class="footer">
  <div class="py-3" >
    <div class="container">
      <div class="row">
      <a href="https://twitter.com/share?url=<%= root_url %>&text=『TWESUME~みんなのTwitter履歴書~』はTwitter転職を支援する逆求人サービスです。自己PRとポートフォリオで自分をアピールしましょう！%20%20%23TwesumeCards%0a" class="d-inline-block mx-auto m-3 btn btn-info rounded-circle p-2" data-show-count="false", target="_blank"><%= fa_icon 'twitter',class:"fa-2x" %></a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <div class="col-md-12 text-center d-md-flex align-items-center">

          <ul class="nav mx-md-auto d-flex justify-content-center">
            <li class="nav-item"><%= link_to '利用規約', terms_path, class:'nav-link' %></li>

            <li class="nav-item"><%= link_to 'プライバシーポリシー', privacy_path, class:'nav-link' %></li>
            <li class="nav-item"><%= link_to 'お問い合わせ', contact_path, class:'nav-link' %></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <p class="mt-2 mb-0">© 2018 TWESUME.</p>
        </div>
      </div>
    </div>
  </div>
  </footer>