  <header id="header" class="header">  
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark" >
      <div class="container">
        <%= link_to root_path, class: 'navbar-brand notojp' do %>
          TWESU<strong>ME</strong> <span class="d-none d-sm-inline-block">~みんなのTwitter履歴書~</span>
        <% end %>

        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarPrimaryContent">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center justify-content-end" id="navbarPrimaryContent">
          <ul class="navbar-nav">
            <%# 検索ページ %>
            <li class="nav-item mx-1">
              <%= link_to resumes_index_path, class:"nav-link align-items-center d-flex" do %>
                <%= fa_icon "search", text:"TWESUME検索" %>
              <% end %>
            </li>

            <% if logged_in? %>

            <li class="nav-item mx-1">
              <%= link_to edit_user_path(current_user.nickname), class:"nav-link align-items-center d-flex" do %>
                <%= fa_icon "user-circle",text: current_user.name %>
              <% end %>
            </li>

            <li class="nav-item mx-1">
              <%= link_to logout_path, class:"nav-link align-items-center d-flex" do %>
                <%= fa_icon "sign-out",text: 'ログアウト' %>
              <% end %>
            </li>

            <% else %>
            <li class="nav-item mx-1">
              <%= link_to '/auth/twitter', class:"nav-link" do %>
                <%= fa_icon 'twitter', text:" ログイン" %>
              <% end %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </header>